.category-buttons {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 19px;
  cursor: pointer;
  align-items: center;
  width: fit-content;
  padding: 12px;
  text-decoration: underline;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.category-buttons:hover {
  transform: scale(1.1);
}

.category-links-box {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: nowrap;
  margin: 20px;
}

.recipe-links {
  list-style: none;
  height: fit-content;
  color: white;
  background-color: rgba(0, 0, 0, 0.529);
}
.box-images {
  height: 140px;
}
.recipe-boxes {
  display: flex;
  justify-content: end;
  flex-direction: column;
  background-image: url(../../assets/pictures/calum-lewis-vA1L1jRTM70-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-color: white;
  border-radius: 10px;
  margin: 20px 10px 50px 10px;
  height: 200px;
  cursor: pointer;
}

.full-recipe {
  background-image: url(../../assets/pictures/ella-olsson-rD3YrnhTmf0-unsplash.jpg);
  background-size: cover;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 10px;
  margin: 10px;
  color: white;
}

.box-shadow {
  background-color: rgba(0, 0, 0, 0.749);
  border-radius: 10px;
  padding: 10px;
}

.ratings {
  display: flex;
  flex-direction: row;
}

@media (min-width: 769px) {
  .full-recipe {
    padding: 60px;
    margin: 30px;
  }

  .box-shadow {
    padding: 40px;
  }
}
@media (min-width: 800px) {
  .full-recipe {
    max-width: 740px;
  }

  .recipe-big-parent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
