html {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(../assets/olga-thelavart-HZm2XR0whdw-unsplash.jpg); */
  background-color: rgb(255, 255, 255);
  color: black;
  font-family: Alegreya;
  background-size: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: fit-content;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: dancing, sans-serif;
  text-align: center;
  cursor: default;
}

h1 {
  margin: 0 10px 0px 10px;
  display: flex;
  justify-content: flex-start;
}
.view-divs {
  height: fit-content;
  min-height: 950px;
  width: 100%;
  padding: 0 0 100px 0;
}

.nav li {
  list-style: none;
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  color: black;
}

@font-face {
  font-family: Dancing;
  src: url(../assets/Fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
@font-face {
  font-family: Alegreya;
  src: url(../assets/Fonts/Alegreya_Sans_SC/AlegreyaSansSC-Regular.ttf);
}
@font-face {
  font-family: serendipity;
  src: url(../assets/Fonts/serendipity/Serendipity.ttf);
}
